body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #1a1a1a;
}
.navigator{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color:  #1a1a1a;
}
.container{
    width: 96%;
    height: 90%;
    margin-left: 3%;
    background-color:  #1a1a1a;
    position: relative;
    top: 5%;
    border-radius: 10px;
}
.excellences_box {
    width: 40%;
    height: 80%;
    position: relative;
    top: 10%;
    background-color:#1a1a1a ;
    left: 30%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
  }
  .text {
    text-align: center;
    margin: 0;
    font-size: 5.2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .excellences_link{
    color: #D8D3C7;
    text-decoration: none;
    text-transform: capitalize;
  }
  .search_bar_container{
    width: 25%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    bottom: 50%;
    padding-top: 1%;
  }
  .search_logo{
    display: flex;
    max-width: 1.4vw;
    max-height: 1.4vw;
    opacity: 70%;
    color: #ffffff;
    opacity: 20%;
  }
  .search_text{
    max-width: 18vw;
    max-height: 2vw;
    background-color: rgba(0, 0, 255, 0.051);
    position: relative;
    font-size: 1vw;
    justify-content: center;
    left: 2.2vw;
    bottom: 2.5vw;
    font-weight: 600;
    opacity: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: -1px;
    color: #ffffff;
  }
  .search_text:hover,.search_logo{
    opacity: 100%;

  }
  .languages{
    width: 10%;
    height: 45%;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    left: 85%;
    top: -110%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
  }
  .tr-button{
    width: 30%;
    height:98%;
    background-color: #1a1a1a;
    margin-right: 40%;
    border: none;
    border-radius: 100%;
    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    opacity: 60%;
  }
  .en-button{
    width: 30%;
    height: 98%;
    background-color: #1a1a1a;
    margin: 0;
    border: none;
    border-radius: 100%;
    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    opacity: 60%;
  }
  .en-button:hover{
    text-decoration: underline;
    opacity: 100%;
  }
  .tr-button:hover{
    text-decoration: underline;
    opacity: 100%;
  }
  .lan1,.lan2{
    text-decoration: none;
    margin-right: 20%;
  }
  nav{
    width: 100%;
    height: 5vw;
    background-color: #1a1a1a;
    margin: 0;
    margin-top: 0%;
    position: absolute;
    display: flex;
    z-index: 5;

  }

  
  ul{
    width: 50%;
    height: 100%;
    background-color: #1a1a1a;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;

  }
  li{
    margin-right: 10%;
    background-color: rgba(128, 0, 128, 0);
    list-style: none;
    text-transform: none;
  }
  li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5vw;
    opacity: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  li a:hover{
    opacity: 100%;
  }
  .small-line{
    width: 70%;
    height: 1px;
    margin-left: 15%;
    position: absolute;
    top: 0;
    background-color: rgb(69, 69, 69);

  }
  .background{
    width: 100%;
    height: 45vw;
    background-color: rgba(255, 0, 0, 0);
    margin: 0;
    margin-top: 10px;
  }
  .img{
    width: 100%;
    height: 50vw;
    margin: 0;
    object-fit: fill;
    position: fixed;
    top: 0vw;
    z-index: -1;
  }
  .box-text{
    width: 100%;
    height: 15vw;
    background-color: rgba(0, 0, 0, 0.57);
    position: relative;
    top: 28vw;

  }
  .bigh1{
    width: 90%;
    height: 50%;
    margin-left: 5%;
    text-align: center;
    font-size: 5vw;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 1.3vw;
    padding-top: 2vw;
    color: #D8D3C7;
  }
  .box-bottom,.box-button-right{
    width: 28%;
    height: 5vw;
    position: relative;
    bottom: 4vw;
    left: 20%;
    cursor: default;
    background-color: rgba(255, 0, 0, 0);
  }
 .left-button,.right-button{
  width: 60%;
  height: 60%;
  margin-left: 40%;
  margin-top: 1%;
  font-size: 1.4vw;
  border-radius: 50px;
  border:solid white 2px ;
  color: #D8D3C7;
  background-color: #00000076;
  opacity: 70%;
}
.box-button-right{
  left: 50%;
  background-color: rgba(255, 0, 0, 0);
  bottom: 10vw;
}
.right-button{
  background-color: #d8d3c7c6;
  border: solid 2px #1a1a1a;
  margin-left: 0%;
  margin-top: 4%;
  color: #1a1a1a;
}
.left-button:hover{
  opacity: 120%;
  cursor: pointer;
}
.right-button:hover{
  opacity: 120%;
  cursor: pointer;

}
 
.second-background{
  width: 100%;
  height: 50vw;
  z-index: 2;
  margin: 0%;
  background-color: #D8D3C7;
}
.box1{
  width: 35%;
  height: 70%;
  background-color: #00000076;
  position: relative;
  top: 10%;
  left: 0%;
  border-bottom-right-radius: 500px;  
}
.necklace{
  width: 80%;
  height: 90%;
  position: relative;
  object-fit: cover;
  left: 30%;
  top: 13%;
}
.necklace-text{
  width: 50%;
  height: 35%;
  position: relative;
  bottom: 65%;
  float: right;
  right: 5%;
  background-color: #c6212100;
  display: flex;
}
.necklace-h2{
 text-align: center;
 width: 100%;
 font-size: 5vw;
 color: #1e1b1b;
 letter-spacing: 50%;
}
.necklace-info{
  width: 80%;
  height: 70%;
  background-color: rgba(255, 0, 0, 0);
  margin-top:19%;
  position: absolute;
  margin-left: 10%;
  font-size: 1.5vw;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  
}
.necklace-button{
  width: 30%;
  height: 3vw;
  background-color: #1a1a1ae9;
  font-size: 1vw;
  position: absolute;
  right: 35%;
  top: 70%;
  border: solid white 1px;
  border-radius: 20px;
  color: #D8D3C7;
  cursor: pointer;
}
.necklace-button:hover{
  background-color: rgb(74, 0, 0);
  color: #D8D3C7;
  transition: all ease-in-out 0.2s;
  border: solid black 1px;
}
.necklace-video{
  width: 40%;
  height: 50%;
  background-color: rgba(242, 242, 242, 0.649);
  position: relative;
  display: flex;
  left: 55%;
  bottom: 30%;

}
video {
  width:120vw;
  height: 100%;
  object-fit: contain;
  position: relative;
  right: 14% ;
  top: 8%;


}
a{
  cursor: pointer;
}
.third-part{
  width: 100%;
  height: 49vw;
  background-color: #D8D3C7;
  margin: 0px;
}
.third-background{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;

  object-fit: fill;
}
.black-cover{
  width: 100%;
  height: 100%;
  position: relative;
  bottom:101%;
  background-color: rgba(0, 0, 0, 0.439);
  

}
.square{
  width: 30%;
  height: 50%;
  background-color: rgb(229, 229, 229);
  position: absolute;
  left: 35%;
  top: 25%;
  
}
.squareh4{
  width: 80%;
  height: fit-content;
  margin-left: 15%;
  margin-top: 22%;
  font-size: 1.2vw;
  text-transform: capitalize;

}
.squareh1{
  width: 80%;
  margin-left: 10%;
  font-size: 3vw;
  text-transform: capitalize;
  text-align: center;
  margin-top: -4%;
}
.squareh6{
  width: 64%;
  margin-left:16%;
  font-size: 1vw;
  text-align: justify;
  margin-top: -2%;
}




  